<div id="campaign-countdown" class="countdown">
  <div class="countdown-item">
    <span id="days">00</span>
    <small>Days</small>
  </div>
  <div class="countdown-item">
    <span id="hours">00</span>
    <small>Hours</small>
  </div>
  <div class="countdown-item">
    <span id="minutes">00</span>
    <small>Minutes</small>
  </div>
  <div class="countdown-item">
    <span id="seconds">00</span>
    <small>Seconds</small>
  </div>
</div>

<script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'countdown.css' | asset_url }}">

{% schema %}
{
  "name": "Campaign countdown",
  "target": "section",
  "settings": []
}
{% endschema %}