{{ 'badge.css' | asset_url | stylesheet_tag }}

 {% if product.metafields.custom.preorder == true %}
  <span class="badge badge-preorder">Preorder</span>
{% endif %} 

<p>{{ product.metafields.custom.campaign_id }}</p>

<p>{{ product.metafields.custom.preorder}}</p>

{% schema %}
{
  "name": "Preorder badge",
  "target": "section",
  "settings": []
}
{% endschema %}
