{%  assign campaignid  = product.metafields.custom.campaign_id %} 
{% assign campaignprops = shop.metaobjects.preordercampaign[campaignid] %}
{% assign designprops = shop.metaobjects.design_settings[campaignid] %}

{% if product.metafields.custom.preorder == true 

    %}
  {% comment %} <p>Preorder available. Ships on 
     {{ product.metafields.custom.release_date.value | date: "%B %d, %Y" }}.
  </p> {% endcomment %}
  <p 
  style="
  color: {{ designprops.preordermessagecolor}};
  text-align:center;
  "
  >{{campaignprops.shipping_message}}</p>
  {% comment %} <p>{{ designprops.preordermessagecolor}}</p> {% endcomment %}
{% endif %}
{% schema %}
{
  "name": "release block",
  "target": "section",
  "settings": []
}
{% endschema %}
