.layout-block {
  margin: 20px;
  gap: 80px;
  display: block;
}

@media (min-width: 768px) {
  .layout-block {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}


.preview {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .preview {
    margin-top: 0;
  }
}
