.preorder-button {
  width: 100%;
  position: relative;
}


/* UNIVERSAL: hide selling plan, purchase options, and subscription dropdowns */

product-subscriptions,
.product-subscriptions,
.shopify-purchase-option-selector,
.shopify-purchase-options,
.purchase-option,
.purchase-options,
.product-form__purchase-option,
.selling-plan-dropdown,
.selling-plan__options,
.selling-plan-group,
.selling-plan-field,
[data-shopify="purchase-options"],
[data-component="purchase-options"],
[data-purchase-option],
.purchase-options-container {
  display: none !important;
}


.loader-spinner {
  width: 18px;
  height: 18px;
  border: 3px solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(0deg);
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
